.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    margin: 0.5em 0;
  }

  .subtitle {
    display: flex;
    margin: 0 0 2em 0;
  }
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &[data-align="left"] {
    justify-content: left;
  }
}

.text {
  display: flex;
  color: inherit;

  &[data-disabled="true"] {
    opacity: 60%;
    cursor: not-allowed;
  }

  &[data-size="small"] {
    font-size: 1em;
  }

  &[data-size="medium"] {
    font-size: 2em;
  }

  &[data-size="large"] {
    font-size: 4em;
  }

  &[data-size="very large"] {
    font-size: 8em;
  }
}

.icon {
  display: flex;
  padding: 0;
  margin: 0;

  &[data-disabled="true"] {
    opacity: 60%;
    cursor: not-allowed;
  }

  &[data-size="small"] {
    font-size: 4em;
  }

  &[data-size="medium"] {
    font-size: 8em;
  }

  &[data-size="large"] {
    font-size: 16em;
  }

  &[data-size="very large"] {
    font-size: 32em;
  }
}
