.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #797878;
  border-radius: 6px;
  height: 100vh;

  .imageWrapper {
    display: flex;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-basis: 15em;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 2em;

    .titleWrapper {
      display: flex;

      .title {
        display: flex;
        margin: 0.5em 0.3em 0.5em 0;
      }
    }

    .subtitle {
      display: flex;
      margin: 0.75em 0;
    }

    .link {
      padding: 0.3em;
      margin: 0 0.1em;
    }

    .list {
      padding-left: 1.2em;
      margin: 0;
    }
  }
}
