.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  min-height: calc(100vh - 69px);

  .imageWrapper {
    display: flex;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-basis: 15em;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 4em;

    .titleWrapper {
      display: flex;

      .title {
        display: flex;
        margin: 0.5em 0;
      }
    }

    .subtitle {
      display: flex;
      margin: 0.75em 0;
    }

    .link {
      padding: 0.2em;
      margin-left: 0.1em;
    }

    .list {
      padding-left: 1.2em;
      margin: 0;
    }

    .list,
    .details,
    .solution {
      font-size: 0.9em;
    }
  }
}
