@use "sass:map";

.wrapper {
  display: flex;
  min-height: calc(100vh - 69px);

  .navigation {
    display: flex;
    flex-basis: 25.5vw;
    background-color: #222;

    .titleWrapper {
      padding: 3em 2em;
      color: white;
      text-align: left;

      .title {
        margin: 0;
        font-size: 3.5em;
      }

      .description {
        margin-bottom: 0;
        font-weight: normal;
      }

      .list {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: left;
        padding: 0;
        margin: 1em 0;

        $backgroundColours: (
          "Netflix": black,
          "IMDb": #f6c700,
          "Reddit": #fe4502,
        );

        $fontColours: (
          "Netflix": #e50914,
          "IMDb": black,
          "Reddit": white,
        );

        .item {
          display: flex;
          justify-content: center;
          margin: 0.75em 0;
          border-radius: 8px;

          @each $name, $color in $backgroundColours {
            &[data-name="#{$name}"] {
              background-color: $color;
            }
          }

          .link {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 0.75em 0;
            margin: 0;

            @each $name, $color in $fontColours {
              &[data-name="#{$name}"] {
                color: $color;
              }
            }

            .icon {
              display: flex;
              height: 2em;
              width: 2em;
              margin-right: 0.4em;

              @each $name, $color in $fontColours {
                &[data-name="#{$name}"] {
                  color: $color;
                }
              }
            }
          }
        }
      }
    }
  }

  .imageWrapper {
    flex-grow: 1;
    position: relative;
  }
}
