.wrapper {
  display: flex;
  min-height: calc(100vh - 69px);

  .navigation {
    display: flex;
    flex-basis: 25.5vw;
    background-color: #222;

    .titleWrapper {
      padding: 3em 2em;
      color: white;
      text-align: left;

      .title {
        margin: 0;
        font-size: 3.5em;
      }

      .description {
        margin-bottom: 0;
        font-weight: normal;
      }
    }
  }

  .imageWrapper {
    flex-grow: 1;
    position: relative;
  }
}
