.wrapper {
  display: flex;
  justify-content: left;
  align-items: stretch;
  min-height: 3em;
  font-size: 1.15em;
  background-color: #333;
  color: white;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    margin: 0 1em;
  }

  .menu {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1em;
      border-radius: 3px;
      padding: 0.7em;

      & > a {
        color: inherit;
        text-decoration: none;

        &[data-has-path="false"] {
          padding: 1em;
        }
      }

      &:hover {
        background-color: #2394b1;
        cursor: pointer;
      }
    }
  }
}
