.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .facts {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    .item {
      display: flex;
      margin: 0.3em;
    }
  }
}
