.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #797878;
  margin: 2em 10em;

  .imageWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 0.3;

    .image {
      border-radius: 6px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-basis: 15em;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 1em;

    .titleWrapper {
      display: flex;
    }

    .facts {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;

      .item {
        display: flex;
        margin: 0.1em;
      }
    }
  }
}
